*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
.container{
      width: 90% !important;
      margin: auto !important;

      



}
.row{
    width: 100%;
    margin: auto;
}
.col-6{
    width: 50%;
   float: left;
 
}
.m-1{
    margin: 2rem auto;
}

.text-start{
    text-align: start;
}
.img{
    
height: 40rem;
padding: 45px 2px 0px 1rem;

}
.pgrf{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}
span{
    text-decoration:  underline  5px solid skyblue ;
    text-underline-offset: 10px;
    
    
}
h1{
    font-size: 65px;
    font-family:Arial, Helvetica, sans-serif black;
    font-weight:600;
    
}
.color{
    color: rgb(87, 87, 247);
    text-decoration-line:none ;

}
p{
    
    font-size: 30px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
button{
    border: white solid; height: 6rem; width: 15rem;
    color: white;
    background-color: rgb(104, 104, 245) ;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;

}
.col-3{
    width: 25%;
    float: left;
    background-color: rgb(235, 232, 232);
    border: solid white; outline: 30px solid white;
    height: 25rem;
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
}
h3{
    font-size: 30px;
}
.font{
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    

.a{
    color:  rgb(104, 104, 245);
    text-decoration-line: none;
    

}
.b{
    font-size: 70px;
    text-align: center;

}

 
 