* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: auto;
}

.card {

    flex-direction: column;
    border: solid #eae9e9;
    width: 40rem;
    height: 35rem;
    flex-wrap: wrap;
    margin: 50px;
    padding: 60px;
    /* text-align: center; */
    background-color: #f4f5f6;
    border-radius: 30px;
    box-shadow: 4px 4px 8px #7e8285;

}

h1 {
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;


}

h2 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    padding: 10px;
    color: #6a6b6b;

}

button {
    border: solid;
    width: 28rem;
    height: 40px;
    font-size: 20px;
    background-color: #6c757d;
    border: none;
    font-weight: 600;
}

.label {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    /* margin-right:20rem; */
    color: #7e8285;
}

p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    color: #666869;
}

span {
    color: rgb(234, 161, 25);
    font-weight: 550;
}

.input {
    width: 28rem;
    height: 40px;
    color: #d2d2d2;
}