* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.container {
    width: 90%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 80px;


}

.Menue-items {
    display: flex;
    list-style: none;
    font-size: 30px;
    gap: 10px;

}

.item a {
    text-decoration: none;
    border: solid rgb(213, 210, 210) 1px;
    padding: 13px;
}

.item a:hover {
    box-shadow: 2px 3px 4px rgb(51, 220, 51);

}

.btn:hover {
    box-shadow: 2px 2px 3px rgb(175, 212, 175);
    background-color: rgb(60, 120, 60);
}

.btn {
    font-size: 30px;
    padding: 10px;
    border: solid rgb(213, 210, 210) 1px;
    background-color: rgb(6, 209, 6);
    color: white;
    margin-top: -8px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    background-color: #9dbd56;
    padding: 20px;
}

.card {
    width: 24rem;
    border: solid;
    height: 30rem;
    margin: 15px;
    padding: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;

}

.cards {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.card h3 {
    font-size: 28px;
    padding: 100px 20px 2px;

}

.heading1 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-content {
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.row1 {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;





}

.footer {
    width: 23rem;
    border: solid;
    height: 30rem;
    margin: 70px 0;
    border: none;
}

.footer h3 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
}

.footer-items {
    list-style: none;
    padding: 40px;
    fill: white;

}

.f-item a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.f-item:hover {
    text-decoration: underline 1px white;
}