*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    margin: auto;
}
.container{
    width: 90%;
    margin: auto;
}
.bg-light{
    background-color: rgb(232, 245, 242);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   align-items: center;
}
.navbar h1{
    color: black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-shadow: 1px 2px 2px;
}
.navbar span{
    color: rgb(124, 124, 241);
}
.btn{
    display: flex;
    border: solid rgb(221, 221, 221) 2px;
    font-size: 20px;
    height: 3rem;
    width: 15rem;
   padding: 14px  8px ;
   border-radius: 10px;
}
.slash{
    margin-left: auto;
}
.btnn{
   height:3rem;
    font-size: 20px;
   width: 8rem;
    border: solid rgb(206, 205, 205) 2px;
   border-radius:10px;
margin-left: -18rem;
 
}
.my-1{
   margin: 10px auto;
}
.links a{
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 20px;
}
.links a:hover{
    text-decoration: underline rgb(124, 124, 241) 3px;
    text-underline-offset: 7px;
    color: blue;
}
.prg{
    display: flex;
    font-size: 20px;
    padding: 20px;
}
.prg p{
    margin: 5px;
}
.scrollbar{
    border: solid;
    height: 30rem;
    border: none;
    width: 18rem;
    overflow: scroll;
    padding: 40px;
}
.scrollbar h2{
    font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.scrollbar h3{
    font-size: 15px;
    color: rgb(168, 166, 166);
   
}
.section{
border: solid;
width: 75%;
height: 40rem;
padding: 50px;
border: none;
overflow: scroll;

}
.card h3{
color: blue;
}
.card p{
    color: gray;
}
.section h2{
    font-size: 50px;
}
